
<!DOCTYPE html>
    <html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/style.css" />
        <link rel="stylesheet" href="../../public/css/header-footer.css" />
        <title>Page Title</title>

        <link rel="shortcut icon" href="../../public/images/favicon-symphony.png" type="image/x-icon">
        <script src="../../public/js/app.js" defer></script>
    </head>

    <body>
        <header>
            <a href="../../../?route=accueil">
                <figure id="logo-symphony"><img src="../../public/images/logo-symphony.png" alt="logo de symphony"></figure>
            </a>
            <nav>
                <ul>
                    <li><a class="focus" href="../../../?route=boutique">Boutique</a></li>
                    <li><a href="../../../?route=notre-marque">Notre marque</a></li>
                    <li><a href="../../../?route=notre-equipe">Notre équipe</a></li>
                    <li><a href="../../../?route=brassage">Brassage</a></li>
                </ul>
            </nav>
            <ul class="profile-pannier">
                <li>
                    <a href="../../../?route=profil">
                        <figure id="profile-icon"><img src="../../public/images/profile-icon.png" alt="icon de profil"></figure>
                    </a>
                </li>
                <li>
                    <a href="../../../?route=pannier">
                        <figure id="pannier-icon"><img src="../../public/images/pannier-icon.png" alt="icon de pannier"></figure>
                    </a>
                </li>
            </ul>
        </header>
        <main>
            <h1> Symphony</h1>
    <ul class="symphony">
        <li>
            <h2>Maïssa</h2>
            <img src="../../public/images/maissa.png" alt="">
        </li>
        <li>
            <h2>Candice</h2>
            <img src="../../public/images/Candiceee.png" alt="">
        </li>
        <li>
            <h2>Clémence</h2>
            <img src="../../public/images/clemence.png" alt="">
        </li>
        <li>
            <h2>Erwann</h2>
            <img src="../../public/images/erwann.png" alt="">
        </li>
        <li>
            <h2>Rayan</h2>
            <img src="../../public/images/rayan.png" alt="">
        </li>
        <li>
            <h2>Killian</h2>
            <img src="../../public/images/kilian.png" alt="">
        </li>
    </ul>
    <h1>Les Brasseurs</h1>
    <ul class="brasseurs">
        <li>
            <h2>Mathilde</h2>
            <img src="../../public/images/mathilde.png" alt="">
        </li>
        <li>
            <h2>Tom</h2>
            <img src="../../public/images/tomy.png" alt="">
        </li>
        <li>
            <h2>Matteo</h2>
            <img src="../../public/images/matteo.png" alt="">   
        </li>
        <li>
            <h2>Mabel</h2>
            <img src="../../public/images/mabel.png" alt="">
        </li>
    </ul>
</main>
<footer>
    <div id="social-networks">
        <a id="instagram" href="https://www.instagram.com/biere.symphony/" target="_blank"><img src="../../public/images/instagram-icon.png" alt="Instagram"></a>
        <a id="tiktok" href="https://www.tiktok.com/@biere_symphony" target="_blank"><img src="../../public/images/tiktok-icon.png" alt="TikTok"></a>
        <a id="youtube" href="https://www.youtube.com/@symphony_biere" target="_blank"><img src="../../public/images/youtube-icon.png" alt="YouTube"></a>

    </div>
    <div id="useful-links">
        <a href="../../../?route=boutique">boutique</a>
        <a href="../../../?route=notre-marque">notre marque</a>
        <a href="../../../?route=notre-equipe">notre équipe</a>
        <a href="../../../?route=brassage">brassage</a>
        <a href="../../../?route=mon-compte">mon compte</a>
    </div>
    <p>© 2025 Symphony. All rights reserved.</p>
</footer>

</body>

</html>
    </body>

    </html>


