@font-face {
    font-family: "Gloria Hallelujah" ;
    src: url(../fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
    font-family: "HACKED" ;
    src: url(../fonts/Hacked-KerX.ttf);
}
@font-face {
    font-family: "Honey Salt" ;
    src: url(../fonts/Honey_Salt.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    color: white;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

#vinyle {
    position: absolute;
    width: 120vw;
    height: 120vw;
    z-index: -1;
    transform: translate(-30%, -40%);
}

.animation {
        animation: spin 3s linear infinite;


}

#dissonance h1 {
    font-family: "HACKED";
}

#dissonance p {
    font-family : "Gloria Hallelujah";
}

.biere {
    width: 160px;
    z-index: 2;
    position: absolute;
    transform: translate(240%, -24%);
    display : flex;
    flex-wrap: wrap;
}

.produits p,
.produits h1 {
    text-align: justify;
    margin-left: 48%;
    width : 25%;
    font-size: 2.5vh;


}
.produits p {
    margin-top: 2%;
}

.produits h1 {
    margin-left: 50%;
    margin-top: 10%;
    font-size: 80px;
}

#slogan {
    font-size: 80px;
    margin-top: 20vw;
    text-align: center;
}

hr {
    border : none;
    border-top: 2px solid #999;
    margin : 40px auto;
    width : 50%;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}


    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        
}