* {
    border: red dashed 1px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ul {
    display: grid;
    width: 90vw;
    list-style: none;
}

main ul:nth-child(1) {
    grid-template-columns: repeat(6, 16%);
}

main ul:nth-child(2) {
    grid-template-columns: repeat(4, 25%);
}

main li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all 0.4s ease;
}

main img {
    border-radius: 1rem;
    /* width: 240px;
    aspect-ratio: 1/1;
    object-fit: cover; */
}

main li:hover {
    transform: scale(1.1);
}