@font-face {
    font-family: "Gloria Hallelujah";
    src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
    font-family: "Honey Salt";
    src: url(../fonts/Honey_Salt.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

main h1 {
    font-family: "Honey Salt";
    font-size: 4.8rem;
    text-transform: uppercase;
    text-align: center;
}

.debut img {
    border-radius: 30%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.presentation p {
    font-family: "Gloria Hallelujah";
    margin: auto;
    background-color: #d9d9d9;
    color: black;
    width: 80%;
    margin-top: 50px;
    font-size: 1.5rem;
    padding: 50px;
    width: 70%;
    border-radius: 32px;
}

.video {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 8vw;
}

@media screen {
    @media (max-width: 768px) {
        main h1 {
            margin-top: 20px;
            font-size: 2.5rem;
        }

        .presentation p {
            font-size: 1.2rem;
            padding: 20px;
            width: 90%;
        }

        .debut img {
            width: 50%;
            height: auto;
        }

        .video {
            margin-top: 5vw;
        }

        .video iframe {
            width: 100%;
            height: 50vh;
        }
    }
}