main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    gap: 2rem;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price-container span {
    font-size: 1.5rem;
    color: white;
}

.price-container button {
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
}

#quantity-input {
    width: 30px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

#quantity-input {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

#quantity-input::-webkit-inner-spin-button,
#quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width : 1024px) {
    main {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
    }
}