* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    /* Primary Colors */
    --cls-white: #ffffff;
    --cls-black: #000000;
}

@font-face {
    font-family: 'Honey Salt';
    src: url("../../public/fonts/Honey_Salt.otf");
}

body {
    background-color: var(--cls-black);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo-symphony {
    width: 200px;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a {
    font-family: "Honey Salt", sans-serif;
    color: var(--cls-white);
    text-decoration: none;
    text-transform: uppercase;
}

.profile-pannier {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#profile-icon {
    width: 64px;
    height: auto;
}

#pannier-icon {
    width: 40px;
    height: auto;
}

/* Footer */

footer {
    color: var(--cls-white)
}